{% extends "base.html" %}
{% load static%}

{% block title %}

my blog

{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static "blog/index.css"  %}">
{% endblock %}

{% block content %}
<header id = "main-navigation">
    <h1><a href=""> Nikku's Blog</a></h1>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Posts</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul> 
</header>

    <section id = "welcome">

        <header>
            <img src = "" alt = "Nikku - Thr author of This blog">
            <h2> Welcome to Nikku's Blog!</h2>

        </header>
        <p> Hello there! I'm Nikku, and this is my personal blog where I share my thoughts, experiences, and insights on various
             topics that interest me. From technology and programming to travel and lifestyle, I cover a wide range of subjects that
              I'm passionate about. Join me on this journey as I explore new ideas, share my adventures, and connect with like-minded individuals.
               Whether you're here to learn something new or just looking for some inspiration, I hope you find value in my posts. Happy reading!</p>
    </section>

    <section id= "latest-post">
        <h2> My Latest Thought </h2>
        <ul>
           {% include "blog/includes/post.html"%}
           {% include "blog/includes/post.html"%}
        </ul>   
    </section>

    <section id = "about">
        <h2> About Me </h2>
        <p> I'm Nikku, a tech enthusiast and avid traveler. When I'm not coding or 
            exploring new technologies, you can find me hiking in the mountains or planning 
            my next travel adventure. I believe in continuous learning and sharing knowledge with others. 
            Through this blog, I aim to connect with like-minded individuals and create a community where
             we can all grow together. Thanks for stopping by!</p>
    </section>

{% endblock%}